/*-- FONTES --*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/*-- Sessão azul --*/
.table-a {

  background-color: #77C6E5;
  border: #77C6E5 solid 1px;
  width: 100%;
  margin-top: 4px;
  height: 104px;
  border-collapse:unset;
  text-align: center;
  table-layout: fixed;
}

#GF-CNPJ {
  max-width: 1276px;
  height: 104px;
}

td {
  padding-left: 15px;
}

.dados-consulta{

  background-color: #77C6E5;
  color:#102B52;
  font-size: 16px;
  font-family: 'Montserrat' , SemiBold;
  font-weight: bold;
  text-align: left;
}
.dados-resposta{
  font-family: 'Arial', Regular ;
  color: #102B52;
  font-size: 16px;
  text-align: left;
}

.dados-resposta td tr {
  background-color: #77C6E5;
  table-layout: fixed;
}

.ico-dev {
  color:#102B52;
  padding-left: 5%;
}

/*--Sessão verde--*/

#filtro-green{
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 5px;
  padding-bottom: 35px;
  max-width: 1276px;
  height: 74px;
  background-color: #E5F8FF;
  color: #102B52;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

h4 {
  font-family: 'Montserrat', Regular;
  font-size: 16px;
  text-indent: 22.28px;
  font-weight: lighter;
}

 .ico-f {
  font-size: 18px;
  color:#102B52;
  background-color: #E5F8FF;
}

button {
  border-style:  none;
}

#filtro-green .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #102B52 1px solid;
  height: 35px;
  width: 608px;
}
.item{
  display: flex;
  justify-items: flex-end;

}

select {
  border:0;
  background-color: #E5F8FF;
  font-size: 16px;
  font-family: 'Montserrat', Regular;
  text-indent: 22.28px;
  color:#102B52;
}
/*tabela devolutiva*/

#table-devolutiva {
  max-width: 1276px;
}

.table-d {
  width: 100%;
  table-layout: fixed;
  border-spacing: 4px;
  border-collapse: collapse;
}

th {
  height: 32px;
  font-family: 'Montserrat', SemiBold;
  font-weight: bold;
  text-align: left;
  text-indent: 14px;
  color: #102B52;
  background-color:  #E5DA77;
}

.td-d {
  padding-left: 13px;
  padding-right: 16px;
  font-size: 14px;
  font-family: 'Arial', Regular;
  height: 55px;
  background-color: #FFFFFF;

}

tr, .tr-d , .tr-black {
  border-bottom: solid 6px #F0F0F0;
  table-layout: fixed;
}

.ico-td-circle {
  font-size: 18px;
  margin: 0px 10px;
}

span {
  font-weight: bold;
}

/*-- Detalhes da tabela -- */

.ico-red {
  color: #D05446 ;

}

.ico-yellow {
  color: #DBD41D;
}

.ico-green {
  color: #00AC34 ;
}

.ico-white {
  color:white;
}

.cor-span {
  color:#FFE600;
  font-weight: bold;
}

.tr-black td{
  background-color: #303030;
  color:#FFFFFF;
  height: 56.5px;
}

/*CNPJ*/

h3 {
  color:#DE1313;
  font-family: 'Montserrat', SemiBold;
  font-size: 13px;
  margin-top:30px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
}

.ico-info{
  font-size: 15px;
  color:#000000;
  display: flex;
  justify-content: end;
}


/*RESPONSIVIDADE*/

@media (max-width: 700px) {
/*área filtro azul*/
  .dados-consulta{
    font-size: 14px;
  }
  .dados-resposta{
    font-size: 12px;
  }

  /*área filtro verde*/
  h4{
   font-size: 12px;
   text-indent: 0px;
  }

  /*área tabela devolutivas*/
  th {
    font-size: 12px;
    text-align:center;
    text-indent: 0;
  }
}

